In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")

In [12]:
#filas y columnas
df.shape

(289, 1147)

In [13]:
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288

In [14]:
df.isnull().sum()

Province/State    198
Country/Region      0
Lat                 2
Long                2
1/22/20             0
                 ...
3/5/23              0
3/6/23              0
3/7/23              0
3/8/23              0
3/9/23              0
Length: 1147, dtype: int64

In [15]:
col =df.columns

In [16]:
df[col[:20]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  91 non-null     object
 1   Country/Region  289 non-null    object
 2   Lat             287 non-null    float64
 3   Long            287 non-null    float64
 4   1/22/20         289 non-null    int64
 5   1/23/20         289 non-null    int64
 6   1/24/20         289 non-null    int64
 7   1/25/20         289 non-null    int64
 8   1/26/20         289 non-null    int64
 9   1/27/20         289 non-null    int64
 10  1/28/20         289 non-null    int64
 11  1/29/20         289 non-null    int64
 12  1/30/20         289 non-null    int64
 13  1/31/20         289 non-null    int64
 14  2/1/20          289 non-null    int64
 15  2/2/20          289 non-null    int64
 16  2/3/20          289 non-null    int64
 17  2/4/20          289 non-null    int64
 18  2/5/20          289 non-null    int64
 19  2/6/20          289 non-null    int64
dtypes: float64(2), int64(16), object(2)
memory usage: 45.3+ KB

In [17]:
col_id = col[:4]
valores = col[4:]
df_long = df.melt(id_vars=col_id,value_vars=valores,var_name="Fechas",value_name="Casos")

In [18]:
df_long

,Province/State,Country/Region,Lat,Long,Fechas,Casos
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
330322,NaN,West Bank and Gaza,31.952200,35.233200,3/9/23,703228
330323,NaN,Winter Olympics 2022,39.904200,116.407400,3/9/23,535
330324,NaN,Yemen,15.552727,48.516388,3/9/23,11945
330325,NaN,Zambia,-13.133897,27.849332,3/9/23,343135
330326,NaN,Zimbabwe,-19.015438,29.154857,3/9/23,264276

In [19]:
df_long.loc[df_long["Country/Region"]=="Australia"]

,Province/State,Country/Region,Lat,Long,Fechas,Casos
9,Australian Capital Territory,Australia,-35.4735,149.0124,1/22/20,0
10,New South Wales,Australia,-33.8688,151.2093,1/22/20,0
11,Northern Territory,Australia,-12.4634,130.8456,1/22/20,0
12,Queensland,Australia,-27.4698,153.0251,1/22/20,0
13,South Australia,Australia,-34.9285,138.6007,1/22/20,0
...,...,...,...,...,...,...
330050,Queensland,Australia,-27.4698,153.0251,3/9/23,1800236
330051,South Australia,Australia,-34.9285,138.6007,3/9/23,883620
330052,Tasmania,Australia,-42.8821,147.3272,3/9/23,287507
330053,Victoria,Australia,-37.8136,144.9631,3/9/23,2880559
330054,Western Australia,Australia,-31.9505,115.8605,3/9/23,1293461

In [20]:
# Creando un MultiIndex de ejemplo
index = pd.MultiIndex.from_tuples([
    ('Bogotá', 2024), ('Bogotá', 2025),
    ('Medellín', 2024), ('Medellín', 2025)
], names=['Ciudad', 'Año'])

s = pd.Series([10, 20, 15, 25], index=index)
print("Serie con MultiIndex:\n", s)
print(type(s))
# Extrayendo los valores del primer nivel (posición 0, que es 'Ciudad')
ciudades = s.index.get_level_values(0)
print("\nValores del Nivel 0 (Ciudad):\n", ciudades)
print(type(ciudades))
# Output: Index(['Bogotá', 'Bogotá', 'Medellín', 'Medellín'], dtype='object', name='Ciudad')

Serie con MultiIndex:
 Ciudad    Año
Bogotá    2024    10
          2025    20
Medellín  2024    15
          2025    25
dtype: int64
<class 'pandas.core.series.Series'>

Valores del Nivel 0 (Ciudad):
 Index(['Bogotá', 'Bogotá', 'Medellín', 'Medellín'], dtype='object', name='Ciudad')
<class 'pandas.core.indexes.base.Index'>

In [21]:
df_id = df_long.set_index(["Country/Region", "Province/State"])
df_id.index.get_level_values("Country/Region")  # Países
df_id.index.get_level_values("Province/State")  # Provincias

Index([                           nan,                            nan,
                                  nan,                            nan,
                                  nan,                            nan,
                                  nan,                            nan,
                                  nan, 'Australian Capital Territory',
       ...
                                  nan,                            nan,
                                  nan,                            nan,
                                  nan,                            nan,
                                  nan,                            nan,
                                  nan,                            nan],
      dtype='object', name='Province/State', length=330327)

In [22]:
df_id.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 330327 entries, ('Afghanistan', nan) to ('Zimbabwe', nan)
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Lat     328041 non-null  float64
 1   Long    328041 non-null  float64
 2   Fechas  330327 non-null  object
 3   Casos   330327 non-null  int64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.0+ MB

In [23]:
df_id.xs("China", level="Country/Region")
df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

In [24]:
df_id = df_long[["Country/Region", "Province/State"]]

index =pd.MultiIndex.from_tuples(df_id,names=["Country/Region","Province/State"])
df_values = pd.DataFrame(df_long[["Lat", "Long","Fechas","Casos"]],index=index)
df_index =df_values.index.get_level_values(0)

ValueError: Length of names must match number of levels in MultiIndex.