In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")

In [3]:
#columnas y filas
df.shape

(289, 1147)

In [4]:
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288

In [ ]:
df.isnull().sum()

Province/State    198
Country/Region      0
Lat                 2
Long                2
1/22/20             0
                 ...
3/5/23              0
3/6/23              0
3/7/23              0
3/8/23              0
3/9/23              0
Length: 1147, dtype: int64

In [18]:
col =df.columns

In [21]:
df[col[:20]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  91 non-null     object
 1   Country/Region  289 non-null    object
 2   Lat             287 non-null    float64
 3   Long            287 non-null    float64
 4   1/22/20         289 non-null    int64
 5   1/23/20         289 non-null    int64
 6   1/24/20         289 non-null    int64
 7   1/25/20         289 non-null    int64
 8   1/26/20         289 non-null    int64
 9   1/27/20         289 non-null    int64
 10  1/28/20         289 non-null    int64
 11  1/29/20         289 non-null    int64
 12  1/30/20         289 non-null    int64
 13  1/31/20         289 non-null    int64
 14  2/1/20          289 non-null    int64
 15  2/2/20          289 non-null    int64
 16  2/3/20          289 non-null    int64
 17  2/4/20          289 non-null    int64
 18  2/5/20          289 non-null    int64
 19  2/6/20          289 non-null    int64
dtypes: float64(2), int64(16), object(2)
memory usage: 45.3+ KB

In [27]:
col_id = col[:4]
valores = col[4:]
df_long = df.melt(id_vars=col_id,value_vars=valores,var_name="fechas",value_name="casos")

In [28]:
df_long

,Province/State,Country/Region,Lat,Long,fechas,casos
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
330322,NaN,West Bank and Gaza,31.952200,35.233200,3/9/23,703228
330323,NaN,Winter Olympics 2022,39.904200,116.407400,3/9/23,535
330324,NaN,Yemen,15.552727,48.516388,3/9/23,11945
330325,NaN,Zambia,-13.133897,27.849332,3/9/23,343135
330326,NaN,Zimbabwe,-19.015438,29.154857,3/9/23,264276